.idea
.venv
BackUp
generated
build_x64
opencv-*-build_x64
*.onnx
*.weights
/autoit-addon/cmake
/autoit-addon/patches
/autoit-opencv-*-com-v*.7z
/diff
/node_modules
/opencv-*
/samples/data/animated_image.webp
/samples/dnn/object_detection/models
/samples/dotnet/*.exe
/*.sublime-workspace
