.idea
.venv
/autoit-opencv-*-com-v*.7z
/diff
/node_modules
/opencv/__build__
/opencv/build
/opencv/download
/opencv/install
/opencv/opencv
/opencv/opencv_contrib
/opencv-*
/samples/dotnet/*.exe
/*.sublime-workspace
BackUp
generated
*build_x64
Windows.UI.Composition-Win32-Samples-*
/autoit-addon/cmake
/autoit-addon/patches
/samples/dnn/object_detection/models
*.onnx
*.weights
